body {
    width: 215.9mm;
    font-family: "Liberation Serif", serif;
    font-size: 18px;
    margin-right: 2em;
    margin-left: 2em;
    color: #333333;
}

h1, h2, h3, h4, h5 {
    margin: .2em 0 .2em 0;
}

h2 {
    color: #999999;
}

h4, h5 {
    font-weight: normal;
}

span {
    color: #999999;
}

p {
    color: #666666;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul > li:before {
    content: "- ";
}

hr {
    height: .2em;
    background-color: #666666;
    border: 0;
    width: 100%;
}

.grey {
    color: #999999;
}

.dark-grey {
    color: #666666;
}

.black {
    color: #333333;
}

#header {
    text-align: center;
}

#header h1, #header h2 {
    color: #333333;
}

#header h2, #header h3, #header h4 {
    font-weight: normal;
}

#summary {

}

#summary ul {
    list-style: none;
    padding-left: 0;
}

#experience {

}

#experience ul {
    color: #666666;
}

#skills-expertise {

}

.col-2 {
    width: 50%;
    float: left;
}
